@using Blogzaur.Application.Comment.Commands.CreateComment

@model CreateCommentCommand

<div id="createComment">
    <form action="/Comment/Create" method="post">
        <div class="form-group mb-3">
            <input asp-for="BlogEntryId" class="form-control" type="hidden" />
            <input type="text" class="form-control" asp-for="Content" />
            <span asp-validation-for="Content" class="text-danger"></span>
            <input type="submit" class="btn btn-primary" value="Add comment" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
