@using Blogzaur.Application.Comment.Commands.CreateComment
@model CreateCommentCommand

<head>
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
</head>

<div class="pb-5" id="createComment">
    <form name="comment-form" action="/Comment/Create" method="post">
        <div class="form-group mb-3">
            <input asp-for="BlogEntryId" class="form-control" type="hidden" />
            <textarea type="text" class="comment-input form-control w-50 my-4" placeholder="Write your comment here" asp-for="Content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Add comment" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
