/* Title stuff */
.title-input {
    height: 40px;
}


.btn-editor {
    background-color: transparent !important;
}

/* Text editor main content*/
.main-content {
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%), translateY(-50%);
}

/* Text editor header */

.text-editor-header {
    border-top-width: 1px;
    padding: 5px;
}

    .text-editor-header .btn {
        background-color: transparent;
        margin-right: 5px;
    }

/* Text editor content */

.content {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    margin-top: 10px;
    border-width: 1px;
    border-color: lightslategrey;
}

    .content:focus {
        outline: none !important;
        box-shadow: none;
    }

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    opacity: 0.3;
}


/* Description input */

.description {
    height: 300px !important;
}
