/* Title stuff */
.title-input {
    border-width: 1px;
    border-color: lightslategrey;
}

    .title-input:focus {
        outline: none !important;
        box-shadow: none;
    }

    .title-input::placeholder {
        opacity: 0.3;
    }

        .title-input:focus::placeholder {
            color: transparent;
        }


.btn-editor {
    background-color: transparent !important;
}
