html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn{
    background-color:coral !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.margin-small {
    margin: 10px;
}

.margin-medium {
    margin: 20px;
}

.margin-large {
    margin: 40px;
}

.no-side-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.bottom-border {
    border-top: none;
    border-left: none;
    border-right: none;
}


/* Navbar */

.navbar {
    box-shadow: 0 4px 8px -2px rgb(0 0 0 / 20%);
    background-color: coral !important;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1030;
}

